* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #4d774e;
    position: relative;
    overflow-x: hidden;
}

/* Lapisan Foto Background */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Masukkan link foto kamu di sini */
    background-image: url('../images/sawah.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* Atur Opacity di sini (0.1 pudar sekali, 0.9 jelas sekali) */
    opacity: 0.3; 
    
    /* Supaya foto berada di bawah form */
    z-index: -1; 
}

.wrapper {
    width: 420px;
    background: #164a41;
    padding: 30px 20px;
    border-radius: 30px;
    color:#fff
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    padding: 20px 0;
}

.wrapper .input-box {
    width: 100%;
    height: 51px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border-radius: 40px;
    outline: none;
    padding: 0 10px;
    color: #fff;
    font-size: 16px;
    border: 2px solid #fff;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    font-size: 14.5px;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
    cursor: pointer;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.terms-outside {
    margin-top: 15px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    max-width: 420px;
}

.terms-outside a {
    color: #fff;
    text-decoration: none;
}

.terms-outside a:hover {
    text-decoration: underline;
}

.terms-check {
    font-size: 13px;
    margin: 10px 0 15px;
}

.terms-check label {
    display:flex;
    color: #ddd;
}

.terms-check input {
    margin-right: 5px;
    accent-color: #fff;
}

.terms-check a {
    color: #fff;
    text-decoration: none;
}

.terms-check a:hover {
    text-decoration: underline;
}

.wrapper .login-register {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.login-register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.form {
    display: none;
}

#step1:checked ~ .step1 {
    display: block;
}

#step2:checked ~ .step2 {
    display: block;
}

.btn {
    display: block;              /* penting */
    width: 100%;
    height: 45px;
    line-height: 45px;           /* center text vertical */
    text-align: center;
    background: #fff;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 10px;
    transition: background-color 0.2s;
}

.btn:hover{
    background-color: #f1b24a;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 25px;
    border: 2px solid #e2e8f0; /* Thicker light input border */
    border-radius: 12px;
    font-size: 1rem;
    transition: border-color 0.2s;
}

input:focus, select:focus {
    outline: none;
    border-color: #f1b24a; /* Border color on focus */
}